<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweet.cms.mapper.CategoryMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sweet.cms.model.Category">
		<id column="id" property="id" />
		<result column="name" property="name" />
		<result column="level" property="level" />
		<result column="image" property="image" />
		<result column="sort_no" property="sortNo" />
		<result column="pid" property="pid" />
		<result column="display" property="display" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="operator" property="operator" />
	</resultMap>

	<sql id="Base_Column_List" >
		id, name, level, image, sort_no, pid,display, create_time, update_time, operator
	</sql>

	<select id="selectCategoryList" resultMap="BaseResultMap" parameterType="com.sweet.cms.model.Category" >
		select
		<include refid="Base_Column_List" />
		from tbl_cms_category where 1=1
		<if test="id != null" >
			and id = #{id}
		</if>
		<if test="level != null" >
			and level = #{level}
		</if>
		<if test="name != null and name != ''" >
			and instr(name, '${name}')>0
		</if>
		<if test="pid != null" >
			and pid = #{pid}
		</if>
		order by display DESC,sort_no
	</select>

    <delete id="deleteByPid" parameterType="java.lang.Long">
		delete from tbl_cms_category where pid = #{pid}
	</delete>


	<select id="getCategoryList" resultMap="BaseResultMap" parameterType="java.util.Map" >
		select
		<include refid="Base_Column_List" />
		from tbl_cms_category where 1=1
		<if test="level != null" >
			and level = #{level}
		</if>
		<if test="pidList != null" >
			and pid in
			<foreach item="pid" index="index" collection="pidList" open="(" separator="," close=")">
				#{pid}
			</foreach>
		</if>
		order by display DESC,sort_no
	</select>

</mapper>
