<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sweet.cms.mapper.CmsModuleMapper">
	<resultMap id="BaseResultMap" type="com.sweet.cms.model.CmsModule">
		<result column="id" property="id"/>
		<result column="module_name" property="moduleName"/>
		<result column="module_style" property="moduleStyle"/>
		<result column="module_type" property="moduleType"/>
		<result column="sort_no" property="sortNo"/>
		<result column="space" property="space"/>
		<result column="space_lr" property="spaceLr"/>
		<result column="width" property="width"/>
		<result column="height" property="height"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="is_display" property="isDisplay"/>
		<result column="is_delete" property="isDelete"/>
		<result column="page_manager_id" property="pageManagerId"/>
		<result column="operator" property="operator"/>
		<result column="rows" property="rows"/>
		<result column="cols" property="cols"/>
		<result column="type_bg" property="typeBg" />
		<result column="bg" property="bg" />
	</resultMap>
	
	<resultMap id="CmsModuleDetailsMapper" type="com.sweet.cms.model.CmsModule">
		<result column="id" property="id"/>
		<result column="module_name" property="moduleName"/>
		<result column="module_style" property="moduleStyle"/>
		<result column="module_type" property="moduleType"/>
		<result column="sort_no" property="sortNo"/>
		<result column="space" property="space"/>
		<result column="space_lr" property="spaceLr"/>
		<result column="width" property="width"/>
		<result column="height" property="height"/>
		<result column="start_time" property="startTime"/>
		<result column="end_time" property="endTime"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
		<result column="is_display" property="isDisplay"/>
		<result column="is_delete" property="isDelete"/>
		<result column="page_manager_id" property="pageManagerId"/>
		<result column="operator" property="operator"/>
		<result column="rows" property="rows"/>
		<result column="cols" property="cols"/>
		<result column="type_bg" property="typeBg" />
		<result column="bg" property="bg" />
		<collection property="moduleDetails" ofType="com.sweet.cms.model.CmsModuleDetails" column="module_id">
			<result column="detail_id" property="detailId"/>
			<result column="title" property="title"/>
			<result column="subtitle" property="subTitle"/>
			<result column="imgurl" property="imgUrl"/>
			<result column="sort_no" property="sortNo"/>
			<result column="subtype" property="subType"/>
			<result column="common_id" property="commonId"/>
			<result column="sub_start_time" property="subStartTime"/>
			<result column="sub_end_time" property="subEndTime"/>
			<result column="create_time" property="createTime"/>
			<result column="update_time" property="updateTime"/>
			<result column="module_id" property="moduleId"/>
			<result column="operator" property="operator"/>
		</collection>
	</resultMap>
	
	<sql id="Base_Column_List">
		id,
		module_name,
		module_style,
		module_type,
		sort_no,
		space,
		space_lr,
		width,
		height,
		start_time,
		end_time,
		create_time,
		update_time,
		is_display,
		is_delete,
		page_manager_id,
		operator,
		rows,
		cols,
		type_bg,
		bg
	</sql>
	
	<sql id="Module_And_Details_List">
		m.id,
		m.module_name,
		m.module_style,
		m.module_type,
		m.sort_no,
		m.space,
		m.space_lr,
		m.width,
		m.height,
		m.start_time,
		m.end_time,
		m.create_time,
		m.update_time,
		m.is_display,
		m.is_delete,
		m.page_manager_id,
		m.operator,
		m.rows,
		m.cols,
		m.type_bg,
		m.bg,
			d.detail_id,
			d.title,
			d.subtitle,
			d.imgurl,
			d.sort_no,
			d.subtype,
			d.common_id,
			d.sub_start_time,
			d.sub_end_time,
			d.create_time,
			d.update_time,
			d.module_id,
			d.operator
	</sql>
	
	<sql id="where">
		<if test="pageManagerId != null">
			and m.page_manager_id = #{pageManagerId}
		</if>
		<if test="moduleType != null">
			and m.module_type = #{moduleType}
		</if>
		<if test="moduleStyle != null">
			and m.module_style = #{moduleStyle}
		</if>
		<if test="startTime !=null">	 
			and IF(m.start_time IS NOT NULL and m.end_time IS NOT NULL,	m.start_time <![CDATA[>=]]> #{startTime}
					,m.start_time IS NULL and m.end_time IS NULL)  
			and IF(d.sub_start_time IS NOT NULL and d.sub_end_time IS NOT NULL, d.sub_start_time <![CDATA[>=]]> #{startTime} 
					,d.sub_start_time IS NULL and d.sub_end_time IS NULL)   
	    </if>	
	    <if test="endTime !=null">	 
			and IF(m.start_time IS NOT NULL and m.end_time IS NOT NULL,	m.end_time <![CDATA[<=]]> #{endTime}
					,m.start_time IS NULL and m.end_time IS NULL)  
			and IF(d.sub_start_time IS NOT NULL and d.sub_end_time IS NOT NULL, d.sub_end_time <![CDATA[<=]]> #{endTime}
					,d.sub_start_time IS NULL and d.sub_end_time IS NULL)   
	    </if>	
	</sql>
	
	<!-- 根据条件查询模块列表 -->
	<select id="queryCmsModuleList" parameterType="com.sweet.cms.model.CmsModule" resultMap="CmsModuleDetailsMapper">
		select <include refid="Module_And_Details_List"/> 
		from tbl_cms_module m
		left join tbl_cms_module_details d on m.id = d.module_id
		where m.is_delete = 0 and 
		IF(m.start_time IS NOT NULL and m.end_time IS NOT NULL,	now() <![CDATA[<=]]> m.end_time,m.start_time IS NULL and m.end_time IS NULL) 
		and IF(d.sub_start_time IS NOT NULL and d.sub_end_time IS NOT NULL,	
				now() <![CDATA[<=]]> d.sub_end_time,d.sub_start_time IS NULL and d.sub_end_time IS NULL) 
		<include refid="where"/> 
		order by CASE WHEN m.sort_no Is null THEN 1 ELSE 0 End,m.sort_no,m.update_time asc,d.sort_no asc
	</select>
	
	<!-- 添加模块 -->
	<insert id="insertCmsModule" parameterType="com.sweet.cms.model.CmsModule" useGeneratedKeys="true" keyProperty="id">
		<!-- 添加送达大信息的同时获取自动生成的ID的值 -->
	　　<selectKey resultType="int" keyProperty="sdid" order="AFTER" >
	　　　　SELECT LAST_INSERT_ID() AS sdid
	　　</selectKey>
		insert into tbl_cms_module 
		(<include refid="Base_Column_List"></include>)
		values(
			#{id},
			#{moduleName},
			#{moduleStyle},
			#{moduleType},
			#{sortNo},
			#{space},
			#{spaceLr},
			#{width},
			#{height},
			#{startTime},
			#{endTime},
			now(),
			now(),
			#{isDisplay},
			#{isDelete},
			#{pageManagerId},
			#{operator},
			#{rows},
			#{cols},
			#{typeBg},
			#{bg}
		)
	</insert>
	
	<!-- 更新模块 -->
	<update id="updateCmsModule" parameterType="com.sweet.cms.model.CmsModule">
		update tbl_cms_module 
		<set>
			<if test="moduleName != null">
				module_name = #{moduleName},
			</if>
			<if test="moduleStyle != null">
				module_style = #{moduleStyle},
			</if>
			<if test="moduleType != null">
				module_type = #{moduleType},
			</if>
			<if test="sortNo != null">
				sort_no = #{sortNo},
			</if>
			<if test="space != null">
				space = #{space},
			</if>
			<if test="spaceLr != null">
				space_lr = #{spaceLr},
			</if>
			<if test="width != null">
				width = #{width},
			</if>
			<if test="height != null">
				height = #{height},
			</if>
			start_time = #{startTime},
			end_time = #{endTime},
			<if test="isDisplay != null">
				is_display = #{isDisplay},
			</if>
			<if test="isDelete != null">
				is_delete = #{isDelete},
			</if>
			<if test="operator != null and operator != ''">
				operator = #{operator},
			</if>
			<if test="rows != null">
				rows = #{rows},
			</if>
			<if test="cols != null">
				cols = #{cols},
			</if>
			<if test="typeBg != null">
				type_bg = #{typeBg},
			</if>
			<if test="bg != null">
				bg = #{bg},
			</if>
			update_time = now()
		</set>
		where id = #{id} and page_manager_id = #{pageManagerId}
	</update>
	
	<!-- 根据主键id删除模块 -->
	<update id="delCmsModuleById" parameterType="java.lang.Long">
		update tbl_cms_module set is_delete = 1,update_time = now() where id = #{id}
	</update>
	
	<!-- 根据频道id物理删除模块 -->
	<delete id="delModuleByPageManagerId" parameterType="java.lang.Long">
		delete from tbl_cms_module where page_manager_id = #{pageManagerId}
	</delete>
	
	<!-- 根据id查询模块详情 -->
	<select id="getCmsModuleById" parameterType="java.lang.Long" resultMap="CmsModuleDetailsMapper">
		select <include refid="Module_And_Details_List"/> 
		from tbl_cms_module m
		left join tbl_cms_module_details d on m.id = d.module_id
		where m.id = #{moduleId} and d.module_id = #{moduleId} order by d.sort_no asc
	</select>
	
	<!-- 批量更新状态 -->
	<update id="batchChangeStatus">
		update tbl_cms_module set is_display = #{isDisplay},update_time = now()
		where id in
			<foreach item="id" index="index" collection="idArr"
				open="(" separator="," close=")">#{id}</foreach>
	</update>
	
	<!-- 模块排序 -->
	<update id="updateSort" parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			update tbl_cms_module
			<set>
				sort_no = #{item.sortNo},update_time = now()
			</set>
			where id = #{item.id}
		</foreach>
	</update>
	
	<!-- 查询模块列表详情(为app和touch提供接口) -->
	<select id="queryCmsModuleDetailsForClient" parameterType="com.sweet.cms.model.CmsModule" resultMap="CmsModuleDetailsMapper">
		select <include refid="Module_And_Details_List"/> 
		from tbl_cms_module m
		left join tbl_cms_module_details d on m.id = d.module_id
		where m.is_delete = 0 and m.is_display = 1 and 
		IF(m.start_time IS NOT NULL and m.end_time IS NOT NULL,	now() between m.start_time and m.end_time,m.start_time IS NULL and m.end_time IS NULL) 
		and IF(d.sub_start_time IS NOT NULL and d.sub_end_time IS NOT NULL,	
				now() between d.sub_start_time and d.sub_end_time,d.sub_start_time IS NULL and d.sub_end_time IS NULL)  
		<include refid="where"/> 
		order by m.sort_no asc,m.update_time desc,d.sort_no asc
	</select>
</mapper>