<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweet.cms.mapper.OrderMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sweet.cms.model.Order">
		<id column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="user_id" property="userId" />
		<result column="order_status" property="orderStatus" />
		<result column="pay_status" property="payStatus" />
		<result column="delivery_status" property="deliveryStatus" />
		<result column="prod_total_amt" property="prodTotalAmt" />
		<result column="promotion_total_amt" property="promotionTotalAmt" />
		<result column="postage_amt" property="postageAmt" />
		<result column="prod_total_num" property="prodTotalNum" />
		<result column="delivery_way" property="deliveryWay" />
		<result column="address_id" property="addressId" />
		<result column="payment" property="payment" />
		<result column="express_no" property="expressNo" />
		<result column="express_name" property="expressName" />
		<result column="remark" property="remark" />
		<result column="refund_reason" property="refundReason" />
		<result column="source" property="source" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>
	<resultMap id="resultMap" type="com.sweet.cms.model.vo.OrderResp">
		<id column="id" property="id" />
		<result column="order_no" property="orderNo" />
		<result column="user_id" property="userId" />
		<result column="order_status" property="orderStatus" />
		<result column="pay_status" property="payStatus" />
		<result column="delivery_status" property="deliveryStatus" />
		<result column="prod_total_amt" property="prodTotalAmt" />
		<result column="promotion_total_amt" property="promotionTotalAmt" />
		<result column="postage_amt" property="postageAmt" />
		<result column="prod_total_num" property="prodTotalNum" />
		<result column="delivery_way" property="deliveryWay" />
		<result column="address_id" property="addressId" />
		<result column="payment" property="payment" />
		<result column="express_no" property="expressNo" />
		<result column="express_name" property="expressName" />
		<result column="remark" property="remark" />
		<result column="refund_reason" property="refundReason" />
		<result column="source" property="source" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, order_no AS orderNo, user_id AS userId, order_status AS orderStatus, pay_status AS payStatus, delivery_status AS deliveryStatus, prod_total_amt AS prodTotalAmt, promotion_total_amt AS promotionTotalAmt, postage_amt AS postageAmt, prod_total_num AS prodTotalNum, delivery_way AS deliveryWay, address_id AS addressId, payment, express_no AS expressNo, express_name AS expressName, remark, refund_reason AS refundReason, source, create_time AS createTime, update_time AS updateTime
    </sql>
    <!-- 查询结果列 -->
    <sql id="Column_List">
        torder.id, torder.order_no AS orderNo, torder.user_id AS userId, torder.order_status AS orderStatus,
        torder.pay_status AS payStatus, torder.delivery_status AS deliveryStatus, torder.prod_total_amt AS prodTotalAmt,
        torder.promotion_total_amt AS promotionTotalAmt, torder.postage_amt AS postageAmt, torder.prod_total_num AS prodTotalNum,
        torder.delivery_way AS deliveryWay, torder.address_id AS addressId, torder.payment, torder.express_no AS expressNo,
        torder.express_name AS expressName, torder.remark, torder.refund_reason AS refundReason, torder.source,
        torder.create_time AS createTime, torder.update_time AS updateTime,tua.name,tua.phone
    </sql>


	<select id="selectOrderPage" resultMap="resultMap">
		SELECT
		<include refid="Column_List" />
		FROM tbl_order torder
		INNER JOIN tbl_user_address tua on torder.address_id = tua.id
		WHERE 1=1
		<if test=" orderNo != null and orderNo != '' ">
			AND torder.orderNo = #{orderNo}
		</if>
		<if test=" expressNo != null and expressNo != '' ">
			AND torder.expressNo = #{expressNo}
		</if>
		<if test=" name != null and name != '' ">
			AND tua.name = #{name}
		</if>
		<if test=" phone != null and phone != '' ">
			AND tua.phone = #{phone}
		</if>
		<if test=" orderStatus != null">
			AND torder.order_status = #{orderStatus}
		</if>
		<if test=" payStatus != null">
			AND torder.pay_status = #{payStatus}
		</if>
		<if test=" startTime != null ">
			<![CDATA[ AND torder.create_time >= #{startTime} ]]>
		</if>
		<if test=" endTime != null ">
			<![CDATA[ AND torder.create_time  <= #{endTime} ]]>
		</if>
		order by torder.create_time desc
	</select>

</mapper>
