<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweet.cms.mapper.UserAddressMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.sweet.cms.model.UserAddress">
		<id column="id" property="id" />
		<result column="user_id" property="userId" />
		<result column="name" property="name" />
		<result column="phone" property="phone" />
		<result column="province_name" property="provinceName" />
		<result column="province" property="province" />
		<result column="city_name" property="cityName" />
		<result column="city" property="city" />
		<result column="district_name" property="districtName" />
		<result column="district" property="district" />
		<result column="address" property="address" />
		<result column="default_address" property="defaultAddress" />
		<result column="zip_code" property="zipCode" />
		<result column="deleted" property="deleted" />
		<result column="create_time" property="createTime" />
		<result column="update_time" property="updateTime" />
	</resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id AS userId, name, phone, province_name AS provinceName, province, city_name AS cityName, city, district_name AS districtName, district, address, default_address AS defaultAddress, zip_code AS zipCode, deleted, create_time AS createTime, update_time AS updateTime
    </sql>

</mapper>
